/* inicio de section promos.html */
.PromoImg{ 
    border: 7px solid rgb(110, 26, 26);
    width: 50%;
    height: 300px;
    margin-top: 10px;
    margin-left: 250px;
} 

.PromoText{
    margin-left: 420px;
    padding: 11.5px;
    color: rgb(44, 1, 44) ;
    background: rgb(105, 2, 105) ;
    font-size: 27px;
    display: inline-block;
}
/* cierre de section promos.html */
/*----------------------------- */